---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/sections/Hero.astro';
import Footer from '@/sections/Hero.astro';
import PlantillaX from '@/sections/PlantillaX.astro';
---

<Layout title="Mi Portafolio">

	<Hero/>
	<main>
		<p style="color: #ffffff">Este portafolio estará en desarrollo por los próximos meses</p>
		
	</main>

	<PlantillaX/>


</Layout>

